<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>6.PhotoPreview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75E664CC1D01113F00998054</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75E664E01D01114000998054</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75E664EB1D01114000998054</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
